body {
  font-family: Nunito, 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(117, 117, 203);
  -webkit-user-select: none;
  /* Compatibilidad con WebKit */
  user-select: none;
  /* Para navegadores modernos */
}

table {border-color: rgb(204, 220, 215);
  border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  border-spacing: 10px;
  width: 99%;
  
  background-color:  rgb(204, 220, 215);
  border-collapse: separate;
  /* Es importante usar 'separate' */
  border-spacing: 10px;
  /* Espaciado entre celdas para apreciar el efecto de bordes redondeados */
  border-radius: 8px;
}

tr { 
  border: 0px solid;
}

td,
th {background-color: rgb(117, 117, 203);
  text-align: center;
  height: 1.5em;
  border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.emoticono { 
  background-color: green;
}

.caja1 {
  box-shadow: 10px 10px 10px 0 rgba(20, 20, 20, 0.3);
  transform: rotate(5deg);   
  background-color: green;   
}
.caja2 { background-color: green;
  box-shadow: -8px -8px 4px 0 rgba(20, 20, 20, 0.3);
  transform: rotate(-5deg);
}

.ancho {
  width: 19.5%;
}
td {
  vertical-align: super;
  padding: 1em 0;
  background-color: white;
}

th {
  color: black;
  
  font-weight: 900;
}

.blanco {
  background-color: white;
}

h1,
h2,
h3 {
  margin-top: 3px;
}

h1 { color: yellow;
  font-weight: 900;
}

.inclinar {
  display: inline-block;
  /* Necesario para que la rotación funcione correctamente */
  transform: rotate(-7deg);
  /* Rota el texto 45 grados */
}

cite {
  color: gray;
}

a {
  text-decoration: none;
  color: DarkBlue;
}

a:hover {
  text-decoration: underline;
}

button {
  font-variant: small-caps;
  cursor: pointer
}